<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Restaurant</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="js/jquery.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/w3data.js"></script>

    <link href="css/materialize.css" rel="stylesheet"/>
    <link href="css/materialize.min.css" rel="stylesheet"/>
    <link href="css/my.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
    <div w3-include-html="header.html"></div>
    <main class="container">

        <div class="row">
            <div class="col s10 offset-s1">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/steak2.jpg"/>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">WELCOME</span>
                        <p>Restaurant, we serve the highest quality beef available in terms of tenderness, flavor and juiciness.
                            Our beef, which is aged at least 21 days, and our fresh seafood are served in a friendly, neighborhood atmosphere.
                            Scenically located across from Lake Minnetonka in Wayzata, MN, Gianni's is the perfect Twin Cities venue to share a romantic night out,
                            celebrate a special occasion, host a private event or simply unwind with our happy hour specials.
                            NEW SUMMER HOURS: Happy Hour 7 days a week 3-5pm on the patio and 3-6pm in the bar. Dinner service begins at 5:00pm daily.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <div w3-include-html="footer.html"></div>

    <script type="text/javascript">
        w3IncludeHTML();
    </script>
</body>
</html>
