<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Restaurant</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="js/jquery.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/w3data.js"></script>

    <link href="css/materialize.css" rel="stylesheet"/>
    <link href="css/materialize.min.css" rel="stylesheet"/>
    <link href="css/my.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
<div w3-include-html="header.html"></div>
<main class="container">

    MENU

</main>
<div w3-include-html="footer.html"></div>

<script type="text/javascript">

    w3IncludeHTML();

</script>
</body>
</html>